.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
  margin-bottom: 1rem;
  width: 100%;
}

.mainHeader nav {
  display: flex;
  gap: 2rem;
}

.mainHeader p {
  font-size: 1.5rem;
}

.mainHeader h1 > a {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #FFFFDD;
  font-weight: 600;
}

.mainHeader span {
  color: #FFFFDD;
}

.mainHeader a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
