.card {
  width: 80vw;
  padding: 0.5rem 1rem;
}

.cardHeader,
.cardContent {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div:last-of-type {
  cursor: pointer;
}

/* Pantalla grande */
@media screen and (min-width: 415px) {
  .card {
    width: 30vw;
    /* margin: auto; */
  }
}
