.entryCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.entryCard > h2 {
  color: teal;
  font-size: 2.5rem;
  border-bottom: solid 0.5px teal;
}

.entryCard > div {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
