* {
  background-color: #016A70;
}

main > div > section > h1{
  color: #FFFFDD ;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 10%;
  margin-right: 30%;
}

.fileInput > input {
  display: none;
}

.fileInput > span {
  cursor: pointer;
  padding: 5px;
  margin: 1px;
}
