.main {
  padding: 0.5rem 1rem;
  margin: auto;
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.header div:last-of-type {
  cursor: pointer;
}
