.card {
  /* width: 80vw; */
  margin-bottom: 50px;
}

.card .biograph {
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div:last-of-type {
  cursor: pointer;
}
