.newEntry {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80vw;
}

.newEntry > .btn {
  width: 35%;
  margin: auto;
  margin-top: 20px;
}

.newEntry > .upload {
  width: 35%;
  margin: auto;
}

/* Large screen */
@media screen and (max-width: 750px) {
  .newEntry > .btn {
    width: 100%;
  }

  .newEntry > .upload {
    width: 100%;
  }
}

/* Extra large screen */
@media screen and (min-width: 1200px) {
  .newEntry {
    width: 50vw;
  }
}
