.page {
  display: flex;
  flex-direction: column;
}

.page {
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}

.input {
  margin: 0 auto;
  width: 350px;
}

/* Extra large screen */
@media screen and (min-width: 1200px) {
  .newEntry {
    width: 50vw;
  }
}
