@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
}

.mainHeader nav {
  display: flex;
  gap: 2rem;
}

.mainHeader p {
  font-size: 1.5rem;
}

.mainHeader h1 {
  font-size: 4rem;
}

.mainHeader span {
  color: white;
}

.mainHeader a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
