.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
  margin-bottom: 1rem;
  width: 100%;

  background-color: cadetblue;
}

.mainHeader nav {
  display: flex;
  gap: 2rem;
}

.mainHeader p {
  font-size: 1.5rem;
}

.mainHeader h1 {
  font-size: 4rem;
}

.mainHeader span {
  color: white;
}

.mainHeader a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
