@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.registerForm {
  width: 50vw;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

div.registerForm > form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.registerForm > form > p {
  color: red;
  margin-top: 40px;
  font-style: italic;
}

.registerForm > p {
  margin-top: 40px;
  &:hover {
    text-decoration: underline;
  }
}

div.registerForm > form > button {
  border-radius: 12px;
  width: 20%;
  height: 25px;
  margin: 0 auto;
  background-color: rebeccapurple;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

div.registerForm > form > label {
  justify-self: flex-start;
  align-self: flex-start;
}
