.registerForm {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 10px;
}

.registerForm .btn {
  width: 10vw;
  color: white;
  margin: auto;
  margin-bottom: 50px;
}

.registerForm .link {
  color: #f9a825;
}
