.allComments > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.allComments > ul > li {
  list-style: none;
}

/* @media screen and (min-width: 800px) {
  .allComments > ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
} */
