.card {
  min-width: 300px;
  margin-top: 20px;
}

.card > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 14rem;
  height: fit-content;
  padding: 1rem;
}

.cardContent {
  width: 30ch;
}

.commentDate {
  display: flex;
  justify-content: flex-end;
}

.btns {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 650px) {
  .card {
    width: 600px;
  }

  .cardContent {
    width: 50ch;
  }
}
