.newComment {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 10px;
  width: 80vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 380px) {
  .buttons {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons button {
    width: 40%;
  }
}
