.loginForm {
  width: 500px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

form.loginForm > p {
  color: red;
}

.loginForm > button {
  border-radius: 12px;
  width: 33%;
  margin: 0 auto;
  background-color: teal;
  color: white;
  outline: none;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.8);
}
