.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm .btn {
  width: 30%;
  margin: auto;
  color: white;
  margin-bottom: 50px;
}

.loginForm .link {
  color: #f9a825;
}
