@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: none;
}

main {
  flex: 1;
}

.avatarPlaceHolder {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: #016a70;
  border-radius: 100%;
}

.avatarImg {
  border-radius: 100%;
  background-position: center;
  width: 40px;
  height: 40px;
}
