.userCard {
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 500px;
}

.userCard > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userCard :first-of-type {
  flex: 1;
}

.userCard div > h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
