.auth {
  top: 10;
  right: 4%;
  position: fixed;
}

.auth > ul > li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.authMenuItems {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.authMenuItems p {
  text-align: left;
}
