.auth {
  display: flex;
  gap: 20px;
  top: 20px;
  right: 40px;
  position: fixed;
  font-size: 1.3rem;
  margin-right: 0,5rem;
  margin-top: 0.6rem;
}

.auth > li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;

}
