.auth {
  top: 10;
  right: 7%;
  position: fixed;
}

.auth > ul {
  display: flex;
}

.auth > ul > li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

@media screen and (min-width: 350px) {
  .auth > ul {
    gap: 30px;
  }
}
