.updateEntry {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;

  padding: 10%;
  gap: 10px;
  width: 80%;
}

.updateEntry > .btn {
  width: 33%;
  margin: auto;
  margin-top: 20px;
}
